*{
    font-family: 'Karla', sans-serif;
}
body{

    background-color: white;
}

h1{

    color: #FF687E;
    font-weight: bolder;
}

.major-buttons{
    border: solid black;
    background-color: #FF687E;
}

